@model List<Vehiculo>



@if (!Model.Any())
{
    <section class="hero hero--standard">

        <div class="hero-content">
            <h1>Aún no has agregado ningún vehiculo</h1>
            <p>Empieza ahora agregando tu primer Vehiculo para gestionar tus lavados.</p>
            <a href="@Url.Action("CrearVehiculo", "Vehiculos")" class="btn-principal">Agregar el primer vehículo</a>
        </div>

    </section>
    



}
else
{

    <div class="search-container">
        <form asp-action="BuscarVehiculo" asp-controller="Vehiculos" method="post">
            <label for="placa">Buscar Vehiculo por placa:</label>
            <input type="number" id="placa" name="placa" required />

            <button type="submit">Buscar Vehiculo</button>

            @if (TempData["Mensaje"] != null)
            {
                <div style="color: red; margin-top: 10px;">
                    <b>@TempData["Mensaje"]</b>
                </div>
            }
        </form>
    </div>


    <table class="tabla-index">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Ultima fecha de atencion</th>
                <th>Color</th>
                <th>Traccion</th>
                <th>Modelo</th>
                <th>Tratamiento Nano</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehiculo in Model)
            {
                <tr>
                    <td>@vehiculo.Placa</td>
                    <td>@vehiculo.UltimaFechaAtencion.ToShortDateString()</td>
                    <td>@vehiculo.Color</td>
                    <td>@vehiculo.Traccion</td>
                    <td>@vehiculo.Modelo</td>
                    <td>@(vehiculo.TratamientoEspecialNano==true?"Si":"No")</td>
                   <td>

                       <div class="acciones">
                        <a href="@Url.Action("EditarVehiculo", "Vehiculos", new { placa = vehiculo.Placa })" class="btn-editar">Editar</a>
                        <a href="@Url.Action("EliminarVehiculo", "Vehiculos", new { placa = vehiculo.Placa })" class="btn-eliminar">Eliminar</a>
                 
                       </div>
                      
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="tableIndex-button-container">
        <button onclick="location.href='@Url.Action("CrearVehiculo","Vehiculos")'">Agregar vehiculo</button>


    </div>







 



   
}



