<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mi App Lavado Vehículos</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("Index", "Empleados")">Clientes</a></li>
                <li><a href="@Url.Action("Index", "Empleados")">Empleados</a></li>
                <li><a href="@Url.Action("Index", "Vehiculos")">Vehículos</a></li>
            </ul>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        <p>© 2025 Mi App Lavado Vehículos</p>
    </footer>
</body>
</html>