@model List<Cliente>

    




<section>
        @if (!Model.Any())
        {
             <section class="hero">

            <div class="hero-content">
                <h1>Aún no has agregado ningún cliente</h1>
                <p>Empieza ahora agregando tu primer cliente para gestionar tus lavados.</p>
                <a href="@Url.Action("CrearCliente", "Clientes")" class="btn-principal">Agregar primer cliente</a>
            </div>

            </section>
        }
      
        else{

        <div class="search-container">
       <form asp-action="BuscarCliente" asp-controller="Clientes" method="post">
        <label for="identificacion">Buscar cliente por ID:</label>
        <input type="number" id="identificacion" name="identificacion" required />

        <button type="submit">Buscar cliente</button>

        @if (TempData["Mensaje"] != null)
        {
            <div style="color: red; margin-top: 10px;">
                <b>@TempData["Mensaje"]</b>
            </div>
        }
    </form>
</div>



    <table class="tabla-index">
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Provincia</th>
            <th>Cantón</th>
            <th>Distrito</th>
            <th>Dirección Exacta</th>
            <th>Teléfono</th>
            <th>Preferencia de Lavado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Identificacion</td>
                <td>@cliente.NombreCompleto</td>
                <td>@cliente.Provincia</td>
                <td>@cliente.Canton</td>
                <td>@cliente.Distrito</td>
                <td>@cliente.DireccionExacta</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.PreferenciaLavado</td>
                <td>
                    <a href="@Url.Action("EditarCliente", "Clientes", new { identificacion = cliente.Identificacion })" class="btn-editar">Editar</a>
                    <a href="@Url.Action("EliminarCliente", "Clientes", new { identificacion = cliente.Identificacion })" class="btn-eliminar">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

    <div class="tableIndex-button-container">
    
        <button onclick="location.href='@Url.Action("CrearCliente", "Clientes")'">Agregar Nuevo Cliente</button>
          



    </div>

          
        
        
    }







</section>

